<div id="infoProduct" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Product</h5>
        <button type="button" class="close closeInfoProduct" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
                <h4 id='productName' class="text-primary text-uppercase">Name</h4>
            </div>
        <img id='productImage' class="img-fluid mb-4" src="/img/product-1.png">
         <div class="text-center bg-primary p-4 mb-2">
            <h1 class="display-4 text-white mb-0">
                  <span id='productPrice'>10</span><small class="align-top" style="font-size: 22px; line-height: 45px;">€</small>
            </h1>
        </div>
      </div>
      <div class="modal-footer">
       <button type="button" class="btn btn-secondary closeInfoProduct" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>