<!-- Products Start -->
<div class="container-fluid py-5">
	<div class="container">
		<div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
			<h6 class="text-primary text-uppercase">Products</h6>
			<h1 class="display-5 text-uppercase mb-0">Products For Your Best Friends</h1>
		</div>
		<div class="owl-carousel product-carousel">
			{% for product in products %}
				{% include 'partials/_productTemplate.html.twig' %}
			{% endfor %}
		</div>
	</div>
</div>

<!-- Products End -->
